@import url('https://fonts.googleapis.com/css?family=Lato');

#main {
	text-align: center;
}

/*.header-search {
	width: 80%;
	float: left;
}
*/
.header-search {
	width: 90%;
	float: left;
}

p {
	padding: 0px 30px;
	text-align: justify;
    text-justify: inter-word;
    font-size: 1.1em;
}

.carousel-inner .active.left { left: -33%; }
.carousel-inner .active.right { left: 33%; }
.carousel-inner .active.next { left: 33%; }
.carousel-inner .active.prev { left: -33%; }

.navbar-toggle {
	position: relative;
	margin-right: 11px;
}

.carousel{
    background: white;
    margin-top: 0px;
    margin-bottom: 10px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
	border: 2px solid lightgrey;
	border-radius: 10%;
    margin: 0 auto; /* Align slide image horizontally center */
}

.bs-example{
    margin: 20px;
    margin-bottom: 15px;
}
.carousel-inner {
    box-shadow: 0px 0px 20px lightgrey;
    border-radius: 5%;
    border: 2px solid grey;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
.carousel-caption {
    color: black;
    text-shadow: none;
    position: relative;
    right:0;
    left:0;
    padding-top: 10px;
}

.carousel .item img {
    width: 75%;
    height: 200px;
    margin: 30px auto 0px;
}

.carousel .item img[alt~="team"] {
	border: none;
	border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 10px 0pc;
}
.carousel-control {
    text-shadow: 0px 0px 15px black;
}

.carousel-indicators {
	z-index: 0;
}

.carousel-indicators li {
    background-color: white;
    border: 1px solid #4a76d5;
}

.carousel-indicators .active {
    background-color: #4a76d5;
}
.glyphicon {
	color: white;
}

.all-proj {
	font-family:'Lato';
	padding: 10px 0px;
	border: solid black 1px;
	position: relative;
	display: block;
	border-radius: 35px;
	font-size: 1.5em;
	color: white;
	background-color: #4a76d5;
	margin: 20px 20px 20px;
}

.sem-proj {
	font-family:'Lato';
	position: relative;
	border: solid black 1px;
	padding: 10px 9%;
	margin: 10px;
	display: inline-block;
	border-radius: 35px;
	font-size: 1.5em;
	color: white;
	background-color: #4a76d5;
	margin-bottom: 15px;
}
