@import url('https://fonts.googleapis.com/css?family=Lato');

#main {
	text-align: center;
}

/*.header-search {
	width: 80%;
	float: left;
}
*/

.header-search {
	padding: 15px 15px 0px;
	width: 90%;
	float: left;
}

.carousel-inner .active.left { left: -33%; }
.carousel-inner .active.right { left: 33%; }
.carousel-inner .active.next { left: 33%; }
.carousel-inner .active.prev { left: -33%; }

.navbar-toggle {
	position: relative;
	margin-right: 11px;
}

.carousel-control {
	opacity: 1;
}

.carousel-control.left {
	background-image: none;
}

.carousel-control.right {
	background-image: none;
}

.glyphicon {
	color: white;
}

.all-proj {
	font-family:'Lato';
	padding: 10px 0px;
	border: solid black 1px;
	position: relative;
	display: block;
	border-radius: 35px;
	font-size: 1.5em;
	color: white;
	background-color: #4a76d5;
	margin: 20px 20px 20px;
}

.sem-proj {
	font-family:'Lato';
	position: relative;
	border: solid black 1px;
	padding: 10px 10%;
	margin: 10px;
	display: inline-block;
	border-radius: 35px;
	font-size: 1.5em;
	color: white;
	background-color: #4a76d5;
}
