.text-things {
	padding: 0px 20px;
}

h2 {
	text-align: center;
	margin: 10px auto;

}

details {
	margin: 20px 5px;
}

img {
	border: 2px solid lightgrey;
	border-radius: 10%;
}

summary {
	font-weight: bold;
	font-size: 1.3em;
}

.sub-content {
	font-size: 1.1em;
}