h3 {
	margin-top: 0px;
	font-weight: bold;
}

h4 {
	margin-top: 25px;
	font-weight: bold;
}

p {
	font-size: 1.2em;
}
.profile {
	text-align: center;
	margin: auto;
	margin-top: 20px;
}

.portrait {
	width: 90%;
	height: 90%;
}

.profile {
	text-align: center;
}

.person:first-child {
	display: inline-block;
	margin-left: 15%;
}


.person a:link {color:black;}      /* unvisited link */
.person a:visited {color:black;}  /* visited link */
.person a:active {color:lightgrey;}  /* selected link */
