* {
	overflow: auto;
	margin: 0px;
}


.sidenav {
	text-align: center;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: lightgrey; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#main {
	transition: margin-right 0.5s;
}

#nav-cmu {
	background-color: lightblue;
	padding-top: 10px;
	padding-bottom: 10px;
}

.header-main {
	padding: 10px 10px 5px;
	background-color: lightblue;
	/*border: dotted black 1px;*/
	width: 100%;
}

.header-search {
	width: 70%;
	float: left;
}

/*Used to format "Carnegie Mellon University - Information Systems" in the navbar*/
.nav-title-text {

}

#back-arrow{
	float: left;
	margin: 5px;
}

button {
	border: dotted black 1px;
	background-color: lightgrey;
}

img {
	max-width: 100%;
	max-height: 100%;
}