@import url('https://fonts.googleapis.com/css?family=Lato');
/*@import url('https://fonts.googleapis.com/css?family=Merriweather');*/

* {
	font-family: 'Lato';
	overflow: auto;
	margin: 0px;
}

.dropdown-menu li {
	padding-top: 5px;
	padding-bottom: 5px;
}

h1 {
	font-family: 'Lato';
	font-weight: bold;
	margin-bottom: 20px;
}

.nav>li .divider {
	display: none;
}

.navbar-toggle .icon-bar {
	visibility: visible;
    background-color: white;
    z-index: -1;
    height: 4px;
    width: 100%;
}

.navbar-toggle {
	position: absolute;
	padding: 0px;
	background-color: transparent;
	margin-left: 90%;
	margin-right: 11px;
	margin-top: -49px;
	height: 33px;
	width: 30px;
}


.sidenav {
	text-align: center;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    right: 0;
    color: white;
    background-color: #414445; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
}

.dropdown-menu li a {
	color: white;
}

.sidenav a {
	font-size: 1em;
	color: white;
	border-bottom: white solid 1px;
}

.sidenav a:hover {
	color: black;
}

.sidenav a:active {
	/*background-color: #4B4E4F;*/
	color: black;
}

#main {
	transition: margin-right 0.5s;
}

#nav-cmu {
	background-color: #4a76d5;
	padding-top: 10px;
	padding-bottom: 10px;
}

.header-main {
	background-color: #4a76d5;
	height: 75px;
	/*position: fixed;*/
	width: 100%;
	z-index: 1;
}

.header-search {
	padding: 22px 15px 0px;
	width: 83%;
}

/*Used to format "Carnegie Mellon University - Information Systems" in the navbar*/
.nav-title-text::first-line {
	font-family: "cambria";
	font-weight: bold;
	font-size: 1.2em;
}

#back-arrow{
	color: white;
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	font-size: 20px;
}

button {
	border: dotted black 1px;
	background-color: lightgrey;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.form-control {
	-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

/*input[type=text]:focus {
	width: 80%;  Remove for actual release
}*/